*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(197, 161, 161);
}

body{
    display:flex;
    flex-direction:column;
    height: 100vh;
}
header{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

header, footer, .logo-space, .logo, .links-space, a{
    background-color:rgb(75, 75, 145);
}

.logo-space{
    display:flex;
    justify-content:center;
}

.logo{
    max-height:45px;
    max-width: auto;
    background-color:rgb(59, 59, 163);
    opacity:1;
}

.links-space{
    display:flex;
    justify-content:space-between;
}

a{
    text-decoration:none;
    color: black;
    font-weight: 600;
    padding-right: 10px;
}

title{
    display:flex;
    justify-content:center;
}

nav a:hover{
    color:white;
}

main{
    display:flex;
    flex-direction:column;
    flex-grow: 1;
    align-items:center;

}

.box{
    margin: 5px;
    display:flex;
}

.two{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.hero-image{
    background-image: url(images/heroimage.jpg);
    background-repeat:no-repeat;
    min-height: 70vh;
    min-width:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.hero-image h1{
    min-height: inherit;
    color: white;
    flex-grow: 1;
    display:flex;
    background-color: rgba(0,0,0,.50);
    align-items: center;
    justify-content: center;

}

.box2image{
    display: flex;
    flex-grow: 1;
    min-height: 70vh;
    min-width:100vh;
    
}

.box2text{
    display:flex;
    flex-direction: column;
    align-items: center;
}

footer{
    display:flex;
    font-weight: bold;
    justify-content:center;
}