*{
    box-sizing:border-box;
    /*border: thin solid orange;*/
    margin: 0;
}

body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}

header{
    display: flex;
    justify-content: space-between;
}

.headerleft, .headerright{
    Background-color: #1F2937;
    color: white;
    padding: 20px;
    display:flex;
    flex: 1 1 auto;
}

.headerleft{
    justify-content: flex-start;
}

.headerright{
    justify-content: flex-end;
}

footer{
    display:inline-flex;
    Background-color: #1F2937;
    font-size:18px;
    color:white;
    justify-content:flex-end;
}

.title{
    font-weight: bold;
}